/* Estilo para el carrusel */
.c-item {
    height: 60vh;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover; 
    filter: brightness(0.6); 
  }
  

  @media (max-width: 768px) {
    .c-item {
      height: 40vh;
    }
  
    .c-img {
     
      filter: brightness(0.8);
    }
  }

  @media (min-width: 769px) {
    .c-item {
      height: 70vh; 
    }
  
    .c-img {
      filter: brightness(1); 
    }
  }
